div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
        div.container
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href='/')
                | Ranked Choice
            div.nav-collapse.collapse
                ul.nav
                    li.active
                        a(href="/") Home
                    - if (user)
                        li.active
                            a(href="/account") Account
                        li.active
                            a(href="/logout") Log Out
                    - else
                        li.active
                            a(href="/login") Log In
