@import "bootstrap/bootstrap";
@import "bootstrap/responsive";

@border-roundness: 8px;
@icon-padding: 5px;
@icon-size: 60px;
@frame-size: @icon-size + @icon-padding * 4;
@shadow: 0 6px 11px black;

body {
	background:#333 url(../img/bg-stone.jpg) top center;
}


.talent-tree {
    -webkit-user-select: none;
}
.skill {
	width:@frame-size;
	height:@frame-size;
	position:absolute;

	.icon-container {
		position:absolute;
		background:black;
		width:@icon-size;
		height:@icon-size;
		padding:@icon-padding;
		top:@icon-padding;
		left:@icon-padding;
		border-radius:@border-roundness;
		box-shadow: @shadow;
	}
	.icon {
		width:100%;
		height:100%;
		background:url(../img/icon-sprite.jpg) no-repeat top left;
		opacity:0.5;
		-webkit-transition: opacity 0.3s;
	}
	.frame {
		position:absolute;
		width:100%;
		height:100%;
		background:url(../img/sprite.png) no-repeat top left;
		cursor:pointer;

		&:hover .tool-tip {
			visibility: visible;
			opacity:1;
			-webkit-transition: all 0.3s 0.3s;
		}
	}

	&.can-add-points {
		.icon {
			opacity:1;
		}
		.frame {
			background-position: -@frame-size top;
		}
	}
	&.has-points {
	}
	&.has-max-points {
		.icon {
			opacity:1;
		}
		.frame {
			background-position: -@frame-size * 2 top;
		}
	}

	.skill-points {
		position:absolute;
		z-index:1;
		bottom: 2px;
		right: 5px;
		color:white;
		font-size:11px;
		width:19px;
		text-align:center;

		span.points {}
		span.max-points {}
	}
	.tool-tip {
		visibility: hidden;
		opacity:0;
		.border-radius(@border-roundness);
		background:#000;
		color:white;
		position:absolute;
		z-index:2;
		top:@icon-padding;
		left:@frame-size;
		width:200px;
		padding:10px;
		box-shadow: @shadow;

		.skill-name {}
		.skill-description {}
		ul.skill-links {
			li {
				a {}
			}
		}
		.help-message {}
	}
	.skill-dependency {
		position: absolute;
		display:block;
		bottom:63px;
		left:50%;

		background:url(../img/connection-sprite.png) no-repeat top left;

		&.active {
		}
	}

	//Skill-specific styles
	&[data-skill-id="1"] {
		z-index:1000;
		top:120px;
		left:160px;
	}
	&[data-skill-id="2"] {
		z-index:950;
		top:260px;
		left:160px;

		.skill-dependency {
			margin-left:-15px;
			width:30px;
			height:80px;
			background-position:-206px -140px;
		}
	}
	&[data-skill-id="3"] {
		z-index:850;
		top:380px;
		left:120px;

		.skill-dependency {
			margin-left:-15px;
			width:110px;
			height:60px;
			background-position:-84px -10px;
		}
	}
	&[data-skill-id="4"] {
		z-index:800;
		top:380px;
		left:200px;
	}
	&[data-skill-id="5"] {
		z-index:700;
		top:500px;
		left:160px;

		.skill-dependency {
			margin-left:-55px;
			width:110px;
			height:60px;
			background-position:-84px -200px;
		}
	}
}